adbc-driver-postgresql
altair
arrow-json
autogluon
connectorx==0.4.1
cocoa-system
datasketch
elasticsearch
hnswlib==0.7.0
kneed
matplotlib
munkres==1.1.4
numba
numpy
sshtunnel
pgpq
polars-hash
polars-u64-idx
psycopg[binary,pool]
psycopg2-binary
pyarrow
python-dotenv
py-cpuinfo
qpsolvers[open_source_solvers]
ray
scipy
scikit-learn
scikit-optimize
tqdm
ITMO_FS
PyYAML
scikit-learn-intelex